$right-margin : 280px;
$global-padding : 36px;
$left-margin : 280px + 36px;
//$header-height : 124px;
$header-height : 140px;
$color1 : #49a947;
//$color2 : #9b7061;
//$color2 : #795548;
$color2 : #fb6365;
//$color2 : #49a947;

$color3 : #f01447;
$color4 : #6523fe;
$color5 : #fe9023;
$color6 : #2366fe;

$text-font : "Segoe WP", "Roboto";
$title-font : "Glacial Indifference";